<content >
  <div class="barra">
    <h1 >
      Quiénes Somos
    </h1>
  </div>
  <div  class="container">
    <div  class="row">
      <div  class="col-1">
      </div>
      <div  class="col-10">
        <br >
        <p  class="bodyText"> 
          Somos una empresa dedicada a proveer 
          traducciones de alta calidad, desde y 
          hacia el inglés en las áreas técnicas 
          de ingeniería y construcción, seguridad y 
          medio ambiente, minería, energía, negocios, etc. 
        <br >
        <br > 
          Nuestro alto compromiso en cuanto a la calidad
          de la traducción final y el
          cumplimiento con los plazos de entrega, nos ha 
          permitido trabajar con importantes empresas 
          tanto nacionales como internacionales. 
        <br >
        </p>
        <br >
        <h4 >
          Nuestra Misión
        </h4>
        <p >
          Entregar traducciones especializadas de alta 
          calidad utilizando la terminología técnica 
          y específica acorde a cada área. 
        </p>
        <br >
        <h4 >
          Nuestra Visión
        </h4>
        <p >
          Consolidarse como una empresa de amplio 
          prestigio en el campo de la traducción especializada. 
        </p>
        <br >
        <img  alt="About Us" src="./assets/imgs/about_us.jpg" style="width:74vw;height:20vw;">
          <br >
          <br>
        <h4 >
          Algunos de Nuestros Clientes
        </h4>
        <li>
          SK COMSA
        </li>
          <li>
          Alusa Ingeniería
        </li>
          <li>
          Pacific Hydro
        </li>
          <li>
          MCG Consultores
        </li>
          <li>
          Varela y Cía.
        </li>
          <li>
          Posco E&C
        </li>
        <br >
          <br >
          <br >
          <br >
          <br >
        </div>
        <div  class="col-1">

        </div>
      </div>
    </div>
  </content>