<div class="text-center header barra">
  <h1>
    Cotice con Nosotros
  </h1>
</div>
<div class="container">
  <div class="card-deck">
    <br>
    <br>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Contáctenos
        </h5>
        <div class="well well-sm">
          <form class="form-horizontal" method="post">
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center">
                  <i class="fa fa-user bigicon"></i>
                </span>
                <div class="col-md-8">
                  <input class="form-control" id="fname" name="name" placeholder="Nombre / Name" type="text">
                </div>
              </div>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center">
                  <i class="fa fa-briefcase bigicon">
                  </i>
                </span>
                <div class="col-md-8">
                  <input class="form-control" id="company" name="company" placeholder="Empresa / Company" type="text">
                </div>
              </div>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center">
                  <i class="fa fa-envelope-o bigicon"></i>
                </span>
                <div class="col-md-8">
                  <input class="form-control" id="email" name="email" placeholder="Email" type="text">
                </div>
              </div>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center">
                  <i class="fa fa-phone-square bigicon"></i>
                </span>
                <div class="col-md-8">
                  <input class="form-control" id="phone" name="phone" placeholder="Teléfono / Phone" type="text">
                </div>
              </div>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center">
                  <i class="fa fa-pencil-square-o bigicon"></i>
                </span>
                <div class="col-md-8">
                  <textarea class="form-control" id="message" name="message" placeholder="Mensaje / Message" rows="7">
                  </textarea>
                </div>
                <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center">
                    <i class="fa fa-paperclip bigicon"></i>
                  </span>
                  <div class="col-md-8">
                    <input class="form-control" id="company" name="company" placeholder="Adjuntar Archivo / Attach file" type="text">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12 text-center">
                  <button class="btn btn-primary btn-lg" style="background-color:#23089991" type="submit">
                    Cotizar
                  </button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <div class="card container">
      <div align="center">
      <br>
      <h4>
        También puede escribirnos a 
        <a href="mailto:contacto@tradustech.cl?Subject=Hola! Deseo solicitar presupuesto" target="_top">
          contacto@tradustech.cl
        </a>
      </h4>
      <h5>
        <br>
        Teléfono Móbil: +569-93128583
        <br>
        Teléfono Red Fija: +56 32 3508724
      </h5>
      <br>
      </div>
      <img alt="Card image cap" class="card-img-top pointer" height="200px" src="./assets/imgs/spain.jpg">
      <br>
      <img alt="Card image cap" class="card-img-top pointer" height="200px" src="./assets/imgs/usa.jpg">
    </div>
  </div>
</div>
