<div class="text-center header barra">
  <h1 align="center">
    Contáctenos a
  </h1>
</div>
<br>
<div class="container">
  <div align="center">
  <br>
  <h2>
    <a href="mailto:contacto@tradustech.cl?Subject=Hola! Deseo solicitar presupuesto" target="_top">
      contacto@tradustech.cl
    </a>
  </h2>
  <h5>
    <br>
    Móvil: +569-93128583
    <br>
    Red Fija: +56 32 3508724
  </h5>
  <br>
  </div>
  <div class="container" id="formularioContacto">
      <h1 align="center">Formulario de Cotización</h1>
      <span class="required_notification">* Datos requeridos</span>
      <form class="form-horizontal" method="post" name="formulario" id="formulario" action="http://www.tradustech.cl/enviar_email.php" enctype="multipart/form-data">
        <fieldset>
          <div class="form-group">
            <span class="text-left">
              <i class="fa fa-user bigicon"></i>
            </span>
            <div class="">
              <input class="form-control" id="Nombre" name="Nombre" placeholder="Nombre / Name (*)" type="text" required>
            </div>
          </div>
          <div class="form-group">
            <span class="text-left">
              <i class="fa fa-envelope-o bigicon"></i>
            </span>
            <div class="">
              <input class="form-control" id='E-mail' name="email" placeholder="Email (*)" type="text" required>
            </div>
          </div>
          <div class="form-group">
            <span class="text-left">
              <i class="fa fa-briefcase bigicon">
              </i>
            </span>
            <div class="">
              <input class="form-control" id="company" name="company" placeholder="Empresa / Company (opcional)" type="text">
            </div>
          </div>
          <div class="form-group">
            <span class="text-left">
              <i class="fa fa-pencil-square-o bigicon"></i>
            </span>
            <div class="">
              <textarea class="form-control" id="mensaje" name="mensaje" placeholder="Mensaje" rows="7">
              </textarea>
            </div>
          </div>
          <div class="form-group">
            <span class="text-left">
              <i class="fa fa-paperclip bigicon"></i>
            </span>
            <!--div class="custom-file ">
              <input type="file" class="custom-file-input form-control" id="archivo1" name="archivo1" placeholder="Attach">
              <label class="custom-file-label" for="adjuntar archivo">Choose file</label>
            </div-->
            <div class="custom-file">
              <label for="custom-file-label">Adjuntar archivo:</label> 
              <input type='file' name='archivo1' id='archivo1' placeholder="carga tu boucher" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12 text-left">
              <button class="btn btn-primary btn-lg" style="background-color:#23089991" type="submit">
                Cotizar
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  <div class="grid">
    <div class="row">
      <div class="col-sm-0 col-md-0 col-lg-2 col-xl-2">
      </div>
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8" align="center">
        <br>
          <img style="opacity: 0.5;" height="200px" width="300" src="./assets/imgs/spain.jpg">
          <br><br>
          <img style="opacity: 0.5;" height="200px" width="300" src="./assets/imgs/usa.jpg">
      </div>
      <div class="col-sm-0 col-md-0 col-lg-2 col-xl-2">
      </div>
    </div>
  </div>
</div>

