<div class="text-center header barra">
  <h1 align="center">
    Cotice su documento <br>
    o proyecto
  </h1>
</div>
<br>
<div class="container">
  <div align="center">
  <br>
  <h4>
    Escríbanos a 
    <a href="mailto:contacto@tradustech.cl?Subject=Hola! Deseo solicitar presupuesto" target="_top">
      contacto@tradustech.cl
    </a>
  </h4>
  <h5>
    <br>
    Móbil: +569-93128583
    <br>
    Red Fija: +56 32 3508724
  </h5>
  <br>
  </div>
  <img alt="Card image cap" class="card-img-top pointer" style="opacity: 0.5;" height="200px" width="300" src="./assets/imgs/spain.jpg">
  <br>
  <img alt="Card image cap" class="card-img-top pointer" style="opacity: 0.5;" height="200px" width="300" src="./assets/imgs/usa.jpg">
</div>

