
    @media screen and (max-width: 600px){

        .navbar-brand{
    
            font-family: 'Times New Roman',Times,serif;
            font-size: 30px;
            text-align: center;
            line-height: 120%
                        
        }
        .lema{
            font-family: 'Times New Roman',Times,serif;
            color: #fff;
            font-size: 9px;
            text-align: center;
            line-height: 25%
        }
        .lema2{
            font-family: 'Times New Roman',Times,serif;
            font-size: 8.5px;
            text-align: center;
            line-height: 15%
        }

        a.nav-link{
            font-size:20px;
        }
    
    }
    
    @media screen and (min-width: 601px){
        .navbar-brand {
            font-family: 'Times New Roman',Times,serif;
            font-size: 5vw;
            line-height: 125%;
            text-align: center;
        }
        .lema{
            font-family: 'Times New Roman',Times,serif;
            font-size: 1.5vw;
            line-height: 50%;
            text-align: center;

        }
        .lema2{
            font-family: 'Times New Roman',Times,serif;
            font-size: 1vw;
            line-height: 50%;
            text-align: center;
        }
        a.nav-link{
            font-size: 1.8vw;
        }
    }
    
    

    .navColor {
        color: #e4e2e25b;
    }

    .light {
        color: #fff;
    }

    .footer{

        position: -ms-page;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        /*text-align: center;*/

    }

    .disenador {
        font-size: 10px
    }

    
    .pointer:hover {
        cursor: pointer;
    }

    .bigicon{
        font-size:28px;
        color:#23089991;
    }

    .logo-titulo{
        font-family: 'Times New Roman', Times, serif;
        font-size: 33px
    }
    
