<div class="light bg-dark footer">
  <div class="container">
    <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <p>©2019 Tradustech / www.tradustech.cl / Empresa de servicios On Line</p>
      <p>Información de Contacto: <a href="mailto:contacto@tradustec.cl">
      contacto@tradustec.cl</a>.</p>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" >
      <a align="center">
      <img class="whatsapp" src="/assets/imgs/whatsapp-square.svg" width="30" height="35" alt="whatsapp">
      +569-93128583
      </a><br>
      <a>
      <img class="phone" src="/assets/imgs/phone-square.svg" width="30" height="35" alt="phone">
      +56 32 3508724 
      </a>
    </div>
    <div class="container" align="right">
      <p class="disenador">
        Web Desarrollada por Gonzalo Orellana<br>
        Fono contacto: +569 73742957</p>
    </div>
  </div>
  </div>
</div>
