<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="/assets/imgs/logo-transparente.png" width="75" height="120" alt="Traducciones Ingles Español | Español Ingles">
  </a>
  <a class="navbar-brand" href="#">TradusTech<p class="lema">Traducciones Técnicas Especializadas</p></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <li routerLinkActive="active"><a class="nav-link" [routerLink]="['/home']">Inicio</a></li>

      <!--li>
      <a class="nav-link pointer" data-toggle="modal" data-target="#modal-form">Cotizar</a></li-->

      <li routerLinkActive="active"><a class="nav-link" [routerLink]="['/about']">Quiénes Somos</a></li>
      <li routerLinkActive="active"><a class="nav-link" [routerLink]="['/contact']">Contacto</a></li>
    </ul>
    
    <b class="navColor nav-link">Síguenos en: </b>&nbsp;
    <ul class="nav navbar-nav navbar-left">
      <li class="nav-item">
        <a href="https://www.facebook.com/Tradustech-Ltda-854460164761937" target="_blank">
          <i class="fa fa-facebook-square navColor" style="font-size:35px;">
            &nbsp;
          </i>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://twitter.com/Tradustechltda" target="_blank">
          <i class="fa fa-twitter-square navColor" style="font-size:35px;">
            &nbsp;
          </i>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://www.linkedin.com/company/tradustech-ltda/" target="_blank">
          <i class="fa fa-linkedin-square navColor" style="font-size:35px;">
            &nbsp;
          </i>
        </a>
      </li>
    </ul>
  </div>
  </div>
</nav>

<!--div class="modal fade" id="modal-form">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title">Envíenos su documento</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div-->

<!--div class="modal fade" id="openModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-header">
          <h4>Bienvenido a <b>TradusTech.cl</b></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header">
          <h5>Welcome to <b>TradusTech.cl</b></h5>
        </div>
        <div class="modal-body" align="center">
          <div>
            <h5>Le invitamos a conocernos y consultar por su 
              servicio de traducción sin compromisos desde 
              la pestaña "Cotizar" en el menú principal.</h5>
            <br>
            <h6>We invite you to get to know us and ask for your
              translation service without compromises 
              from the "Cotizar" tab in the main menu</h6>
          </div>
          <div align="center">
            <img src="/assets/imgs/logo-transparente.png" width="60" height="95" alt="TradusTech">
            <p class="logo-titulo">TradusTech</p>
          </div>
        </div>
      </div>
    </div>
  </div-->