<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
    <img src="/assets/imgs/logo-transparente.png" width="60" height="95" alt="">
  </a>
  <a class="navbar-brand" href="#">TradusTech</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <li routerLinkActive="active"><a class="nav-link" [routerLink]="['/home']">Home</a></li>
      <li routerLinkActive="active"><a class="nav-link" [routerLink]="['/about']">Quiénes Somos</a></li>
      <li routerLinkActive="active"><a class="nav-link" [routerLink]="['/contact']">Contacto</a></li>
    </ul>
    
    <b class="navColor">Síguenos en: </b>&nbsp;
    <ul class="nav navbar-nav navbar-left">
      <li class="nav-item">
        <a href="https://www.facebook.com/Tradustech-Ltda-854460164761937" target="_blank">
          <i class="fa fa-facebook-square navColor" style="font-size:35px;">
            &nbsp;
          </i>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://twitter.com/Tradustechltda" target="_blank">
          <i class="fa fa-twitter-square navColor" style="font-size:35px;">
            &nbsp;
          </i>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://www.linkedin.com/company/tradustech-ltda/" target="_blank">
          <i class="fa fa-linkedin-square navColor" style="font-size:35px;">
            &nbsp;
          </i>
        </a>
      </li>
    </ul>
  </div>
  </div>
</nav>