<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
    <img src="/assets/imgs/logo-transparente.png" width="60" height="95" alt="Traducciones Ingles Español | Español Ingles">
  </a>
  <a class="navbar-brand" href="#">TradusTech</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <li routerLinkActive="active"><a class="nav-link" [routerLink]="['/home']">Inicio</a></li>

      <li>
      <a class="nav-link pointer" data-toggle="modal" data-target="#modal-form">Cotizar</a></li>

      <li routerLinkActive="active"><a class="nav-link" [routerLink]="['/about']">Quiénes Somos</a></li>
      <li routerLinkActive="active"><a class="nav-link" [routerLink]="['/contact']">Contacto</a></li>
    </ul>
    
    <b class="navColor">Síguenos en: </b>&nbsp;
    <ul class="nav navbar-nav navbar-left">
      <li class="nav-item">
        <a href="https://www.facebook.com/Tradustech-Ltda-854460164761937" target="_blank">
          <i class="fa fa-facebook-square navColor" style="font-size:35px;">
            &nbsp;
          </i>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://twitter.com/Tradustechltda" target="_blank">
          <i class="fa fa-twitter-square navColor" style="font-size:35px;">
            &nbsp;
          </i>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://www.linkedin.com/company/tradustech-ltda/" target="_blank">
          <i class="fa fa-linkedin-square navColor" style="font-size:35px;">
            &nbsp;
          </i>
        </a>
      </li>
    </ul>
  </div>
  </div>
</nav>

<div class="modal fade" id="modal-form">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title">Envíenos su documento</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="well well-sm">
          <form class="form-horizontal" method="post">
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center">
                  <i class="fa fa-user bigicon"></i>
                </span>
                <div class="col-md-8">
                  <input class="form-control" id="fname" name="name" placeholder="Nombre / Name" type="text">
                </div>
              </div>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center">
                  <i class="fa fa-envelope-o bigicon"></i>
                </span>
                <div class="col-md-8">
                  <input class="form-control" id="email" name="email" placeholder="Email" type="text">
                </div>
              </div>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center">
                  <i class="fa fa-briefcase bigicon">
                  </i>
                </span>
                <div class="col-md-8">
                  <input class="form-control" id="company" name="company" placeholder="Empresa (opcional)" type="text">
                </div>
              </div>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center">
                  <i class="fa fa-pencil-square-o bigicon"></i>
                </span>
                <div class="col-md-8">
                  <textarea class="form-control" id="message" name="message" placeholder="Mensaje" rows="7">
                  </textarea>
                </div>
              </div>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center">
                  <i class="fa fa-paperclip bigicon"></i>
                </span>
                <div class="custom-file col-md-8">
                  <input type="file" class="custom-file-input form-control" id="customFile" name="file" placeholder="Attach">
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12 text-center">
                  <button class="btn btn-primary btn-lg" style="background-color:#23089991" type="submit">
                    Cotizar
                  </button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="openModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-header">
          <h4>Bienvenido a <b>TradusTech.cl</b></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header">
          <h5>Welcome to <b>TradusTech.cl</b></h5>
        </div>
        <div class="modal-body" align="center">
          <div>
            <h5>Le invitamos a conocernos y consultar por su 
              servicio de traducción sin compromisos desde 
              la pestaña "Cotizar" en el menú principal.</h5>
            <br>
            <h6>We invite you to get to know us and ask for your
              translation service without compromises 
              from the "Cotizar" tab in the main menu</h6>
          </div>
          <div align="center">
            <img src="/assets/imgs/logo-transparente.png" width="60" height="95" alt="TradusTech">
            <p class="logo-titulo">TradusTech</p>
          </div>
        </div>
      </div>
    </div>
  </div>