<content>
  <br>
  <br>
  <div class="container">
    <div class="card-deck">
      <div class="card">
        <br>
        <h5 class="card-title" align="center">
          TRADUCCIONES TÉCNICAS
        </h5>
        <img alt="Card image cap" class="card-img-top" height="250px" src="./assets/imgs/correcting.jpg">
        <div class="card-body">
          <p class="card-text"> 
            Inglés-Español / Español-Inglés 
            Nos especializamos en traducciones técnicas utilizando 
            la terminología específica correspondiente para cada área. 
          </p>
        </div>
      </div>
      <div class="card pointer"[routerLink]="['/contact']">
        <br>
        <h5 class="card-title" align="center">
          COTICE CON NOSOTROS
        </h5>
        <img _alt="Card image cap" class="card-img-top" height="250px" src="./assets/imgs/write.jpg">
        <div class="card-body">
          <p class="card-text"> 
            Según prácticas aceptadas en la industria mundial 
            la tarificación se realiza de acuerdo al número de 
            palabras y el nivel de urgencia. Envíenos sus documentos 
            técnicos o normales y recibirá una cotización formal con 
            valor y fecha de entrega. 
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</content>